* { 
    padding: 0; 
    margin: 0;
}
body { 
    font-family: sans-serif;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
h1 {
    color: lightcoral;
    text-align: center;
}
div.button, div.timer {
    display: flex;
    justify-content: center;
}
button{
    font-size: 25px;
    font-weight: bold;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.801);
    width: 4em;
    height: 2em;
    cursor: pointer;
    border-radius: 20px;
}
.timer{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
}
table {
    margin: 0 auto;
    border-spacing: 0px;
}
tr {
    line-height: 0px;
}
footer {
    text-align: center;
    padding-top: 5px;
}